<%= form_with model: article do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
  <div class="form-group col">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col">
    <%= form.label :body %><br>
    <%= form.text_area :body, class: "form-control" %><br>
  </div>
  </div>
  <div class="form-group col">
    <%= form.label :header_image %><br>
    <%= form.file_field :header_image, class: "form-control" %><br>
    <div class="mt-1">
        <% if article.header_image.present? %>
        <%= image_tag(article.header_image, width: '100%') %>
      <% end %>
    </div>
   
  </div>
  <div class="form-group col">
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>
  <div class="actions d-flex justify-content-center">
    <%= form.submit 'Create', class: "btn btn-primary" %>
    <%= link_to "Back", articles_path, class: "btn btn-default" %>
  </div>
<% end %>