<%= flash_messages %>
<h1>Articles</h1>

Our blog has <%= Article.public_count %> public articles!

<div class="product-block">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-md-2">Title</th>
          <th class="col-md-4">Options</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
              <td class="col-md-2"><%= article.title %></td>
              <td class="col-md-4">
              <%= link_to 'Show', article_path(article), class: "btn btn-info" %>
              <%= link_to 'Edit', edit_article_path(article), class: "btn  btn-warning" %>
              <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>