<%= flash_messages %>
<div class="row custom">
    <div class="col-lg-10 offset-lg-1">
        <div class="card post-card-read mb-5">
            <% if @article.header_image.present? %>
                <div class="header-image" style="background-image: url(<%= url_for(@article.header_image) %>);"></div>
            <% end %>
            <div class="card-body">
                <div class="pl-5 pr-5 pt-4 pb-4">
                    <h1 class="card-title mb-5"><%= @article.title %></h1>
                    <p class="card-text mb-4"><%= @article.body %></p>
                </div>
                
            </div>
            <div class="card-body text-center">
                <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary" %>
                <%= link_to "Back", articles_path, class: "btn btn-warning" %>
            </div>
        </div>
    </div>
</div>

<div class="comment-section">
    <div class="comments-main">
    <h2>Comments</h2>
    <% if @article.comments.length==0 %>
        <h4>No comments yet. Be the first who reacted to this! 🤩</h4>
    <% else %>
        <%= render @article.comments %>
    <% end %>
    <div>
<h4>Add a comment:</h4>
<%= render 'comments/form' %>
</div>
</div>
</div>

</div>
</div>

